# bizu
# https://www.pluralsight.com/guides/how-to-use-gitignore-file
#

*lixo*
*delme*
*~
*.log
*.erro
scripts/_log/*
!scripts/_log/.gitkeep
teste.php
teste/
mysql/data/*
!mysql/data/.gitkeep
backup/

# o conteúdo da pasta do usuário (web) do sistema (não rastreada)
app/user/*
!/app/user/.gitkeep
