/*
	A palavra original ".glyphicons" foi substituída por ".regular".
	Isso foi feito para manter o padrão das demais fontes e
	automatizar a página que mostra as fontes. (...cdn.../glyphicons/index.php)
	
	Uma cópia do arquivo original foi mantida na mesma pasta
*/

@font-face{
	font-family:'Glyphicons Regular';
	src: url('fonts/glyphicons-regular.eot');
	src: url('fonts/glyphicons-regular.eot?#iefix') format('embedded-opentype'),
	url('fonts/glyphicons-regular.woff2') format('woff2'),
	url('fonts/glyphicons-regular.woff') format('woff'),
	url('fonts/glyphicons-regular.ttf') format('truetype'),
	url('fonts/glyphicons-regular.svg#glyphiconsregular') format('svg')
}
 
.regular{
	 display:inline-block;
	 font-family:'Glyphicons Regular';
	 font-style:normal;font-weight:400;
	 line-height:1;vertical-align:top;
	 -webkit-font-smoothing:antialiased;
	 -moz-osx-font-smoothing:grayscale
}

.regular.x05{font-size:12px}
.regular.x2{font-size:48px}
.regular.x2:before{padding:8px 12px}
.regular.x3{font-size:72px}
.regular.x3:before{padding:16px 20px}
.regular.x4{font-size:96px}
.regular.x4:before{padding:20px 28px}
.regular.x5{font-size:120px}
.regular.x5:before{padding:28px 36px}
.regular.light:before{color:#f2f2f2}
.regular.drop:before{text-shadow:-1px 1px 3px rgba(0,0,0,.3)}
.regular.flip{-moz-transform:scaleX(-1);-o-transform:scaleX(-1);-webkit-transform:scaleX(-1);transform:scaleX(-1);filter:FlipH;-ms-filter:"FlipH"}
.regular.flipv{-moz-transform:scaleY(-1);-o-transform:scaleY(-1);-webkit-transform:scaleY(-1);transform:scaleY(-1);filter:FlipV;-ms-filter:"FlipV"}
.regular.rotate90{-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);-ms-transform:rotate(90deg);transform:rotate(90deg)}
.regular.rotate180{-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg)}
.regular.rotate270{-webkit-transform:rotate(270deg);-moz-transform:rotate(270deg);-ms-transform:rotate(270deg);transform:rotate(270deg)}
 
.regular-glass:before{content:"\E001"}
.regular-leaf:before{content:"\E002"}
.regular-dog:before{content:"\E003"}
.regular-user:before{content:"\E004"}
.regular-girl:before{content:"\E005"}
.regular-car:before{content:"\E006"}
.regular-user-add:before{content:"\E007"}
.regular-user-remove:before{content:"\E008"}
.regular-film:before{content:"\E009"}
.regular-magic:before{content:"\E010"}
.regular-envelope:before{content:"\E011"}
.regular-camera:before{content:"\E012"}
.regular-heart:before{content:"\E013"}
.regular-beach-umbrella:before{content:"\E014"}
.regular-train:before{content:"\E015"}
.regular-print:before{content:"\E016"}
.regular-bin:before{content:"\E017"}
.regular-music:before{content:"\E018"}
.regular-music-alt:before{content:"\E019"}
.regular-heart-empty:before{content:"\E020"}
.regular-home:before{content:"\E021"}
.regular-snowflake:before{content:"\E022"}
.regular-fire:before{content:"\E023"}
.regular-magnet:before{content:"\E024"}
.regular-parents:before{content:"\E025"}
.regular-binoculars:before{content:"\E026"}
.regular-road:before{content:"\E027"}
.regular-search:before{content:"\E028"}
.regular-cars:before{content:"\E029"}
.regular-notes-2:before{content:"\E030"}
.regular-pencil:before{content:"\E031"}
.regular-bus:before{content:"\E032"}
.regular-wifi-alt:before{content:"\E033"}
.regular-luggage:before{content:"\E034"}
.regular-old-man:before{content:"\E035"}
.regular-woman:before{content:"\E036"}
.regular-file:before{content:"\E037"}
.regular-coins:before{content:"\E038"}
.regular-plane:before{content:"\E039"}
.regular-notes:before{content:"\E040"}
.regular-stats:before{content:"\E041"}
.regular-charts:before{content:"\E042"}
.regular-pie-chart:before{content:"\E043"}
.regular-group:before{content:"\E044"}
.regular-keys:before{content:"\E045"}
.regular-calendar:before{content:"\E046"}
.regular-router:before{content:"\E047"}
.regular-camera-small:before{content:"\E048"}
.regular-star-empty:before{content:"\E049"}
.regular-star:before{content:"\E050"}
.regular-link:before{content:"\E051"}
.regular-eye-open:before{content:"\E052"}
.regular-eye-close:before{content:"\E053"}
.regular-alarm:before{content:"\E054"}
.regular-clock:before{content:"\E055"}
.regular-stopwatch:before{content:"\E056"}
.regular-projector:before{content:"\E057"}
.regular-history:before{content:"\E058"}
.regular-truck:before{content:"\E059"}
.regular-cargo:before{content:"\E060"}
.regular-compass:before{content:"\E061"}
.regular-keynote:before{content:"\E062"}
.regular-paperclip:before{content:"\E063"}
.regular-power:before{content:"\E064"}
.regular-lightbulb:before{content:"\E065"}
.regular-tag:before{content:"\E066"}
.regular-tags:before{content:"\E067"}
.regular-cleaning:before{content:"\E068"}
.regular-ruler:before{content:"\E069"}
.regular-gift:before{content:"\E070"}
.regular-umbrella:before{content:"\E071"}
.regular-book:before{content:"\E072"}
.regular-bookmark:before{content:"\E073"}
.regular-wifi:before{content:"\E074"}
.regular-cup:before{content:"\E075"}
.regular-stroller:before{content:"\E076"}
.regular-headphones:before{content:"\E077"}
.regular-headset:before{content:"\E078"}
.regular-warning-sign:before{content:"\E079"}
.regular-signal:before{content:"\E080"}
.regular-retweet:before{content:"\E081"}
.regular-refresh:before{content:"\E082"}
.regular-roundabout:before{content:"\E083"}
.regular-random:before{content:"\E084"}
.regular-heat:before{content:"\E085"}
.regular-repeat:before{content:"\E086"}
.regular-display:before{content:"\E087"}
.regular-log-book:before{content:"\E088"}
.regular-address-book:before{content:"\E089"}
.regular-building:before{content:"\E090"}
.regular-eyedropper:before{content:"\E091"}
.regular-adjust:before{content:"\E092"}
.regular-tint:before{content:"\E093"}
.regular-crop:before{content:"\E094"}
.regular-vector-path-square:before{content:"\E095"}
.regular-vector-path-circle:before{content:"\E096"}
.regular-vector-path-polygon:before{content:"\E097"}
.regular-vector-path-line:before{content:"\E098"}
.regular-vector-path-curve:before{content:"\E099"}
.regular-vector-path-all:before{content:"\E100"}
.regular-font:before{content:"\E101"}
.regular-italic:before{content:"\E102"}
.regular-bold:before{content:"\E103"}
.regular-text-underline:before{content:"\E104"}
.regular-text-strike:before{content:"\E105"}
.regular-text-height:before{content:"\E106"}
.regular-text-width:before{content:"\E107"}
.regular-text-resize:before{content:"\E108"}
.regular-left-indent:before{content:"\E109"}
.regular-right-indent:before{content:"\E110"}
.regular-align-left:before{content:"\E111"}
.regular-align-center:before{content:"\E112"}
.regular-align-right:before{content:"\E113"}
.regular-justify:before{content:"\E114"}
.regular-list:before{content:"\E115"}
.regular-text-smaller:before{content:"\E116"}
.regular-text-bigger:before{content:"\E117"}
.regular-embed:before{content:"\E118"}
.regular-embed-close:before{content:"\E119"}
.regular-table:before{content:"\E120"}
.regular-message-full:before{content:"\E121"}
.regular-message-empty:before{content:"\E122"}
.regular-message-in:before{content:"\E123"}
.regular-message-out:before{content:"\E124"}
.regular-message-plus:before{content:"\E125"}
.regular-message-minus:before{content:"\E126"}
.regular-message-ban:before{content:"\E127"}
.regular-message-flag:before{content:"\E128"}
.regular-message-lock:before{content:"\E129"}
.regular-message-new:before{content:"\E130"}
.regular-inbox:before{content:"\E131"}
.regular-inbox-plus:before{content:"\E132"}
.regular-inbox-minus:before{content:"\E133"}
.regular-inbox-lock:before{content:"\E134"}
.regular-inbox-in:before{content:"\E135"}
.regular-inbox-out:before{content:"\E136"}
.regular-cogwheel:before{content:"\E137"}
.regular-cogwheels:before{content:"\E138"}
.regular-picture:before{content:"\E139"}
.regular-adjust-alt:before{content:"\E140"}
.regular-database-lock:before{content:"\E141"}
.regular-database-plus:before{content:"\E142"}
.regular-database-minus:before{content:"\E143"}
.regular-database-ban:before{content:"\E144"}
.regular-folder-open:before{content:"\E145"}
.regular-folder-plus:before{content:"\E146"}
.regular-folder-minus:before{content:"\E147"}
.regular-folder-lock:before{content:"\E148"}
.regular-folder-flag:before{content:"\E149"}
.regular-folder-new:before{content:"\E150"}
.regular-edit:before{content:"\E151"}
.regular-new-window:before{content:"\E152"}
.regular-check:before{content:"\E153"}
.regular-unchecked:before{content:"\E154"}
.regular-more-windows:before{content:"\E155"}
.regular-show-big-thumbnails:before{content:"\E156"}
.regular-show-thumbnails:before{content:"\E157"}
.regular-show-thumbnails-with-lines:before{content:"\E158"}
.regular-show-lines:before{content:"\E159"}
.regular-playlist:before{content:"\E160"}
.regular-imac:before{content:"\E161"}
.regular-macbook:before{content:"\E162"}
.regular-ipad:before{content:"\E163"}
.regular-iphone:before{content:"\E164"}
.regular-iphone-transfer:before{content:"\E165"}
.regular-iphone-exchange:before{content:"\E166"}
.regular-ipod:before{content:"\E167"}
.regular-ipod-shuffle:before{content:"\E168"}
.regular-ear-plugs:before{content:"\E169"}
.regular-record:before{content:"\E170"}
.regular-step-backward:before{content:"\E171"}
.regular-fast-backward:before{content:"\E172"}
.regular-rewind:before{content:"\E173"}
.regular-play:before{content:"\E174"}
.regular-pause:before{content:"\E175"}
.regular-stop:before{content:"\E176"}
.regular-forward:before{content:"\E177"}
.regular-fast-forward:before{content:"\E178"}
.regular-step-forward:before{content:"\E179"}
.regular-eject:before{content:"\E180"}
.regular-facetime-video:before{content:"\E181"}
.regular-download-alt:before{content:"\E182"}
.regular-mute:before{content:"\E183"}
.regular-volume-down:before{content:"\E184"}
.regular-volume-up:before{content:"\E185"}
.regular-screenshot:before{content:"\E186"}
.regular-move:before{content:"\E187"}
.regular-more:before{content:"\E188"}
.regular-brightness-reduce:before{content:"\E189"}
.regular-brightness-increase:before{content:"\E190"}
.regular-plus-sign:before{content:"\E191"}
.regular-minus-sign:before{content:"\E192"}
.regular-remove-sign:before{content:"\E193"}
.regular-ok-sign:before{content:"\E194"}
.regular-question-sign:before{content:"\E195"}
.regular-info-sign:before{content:"\E196"}
.regular-exclamation-sign:before{content:"\E197"}
.regular-remove-circle:before{content:"\E198"}
.regular-ok-circle:before{content:"\E199"}
.regular-ban-circle:before{content:"\E200"}
.regular-download:before{content:"\E201"}
.regular-upload:before{content:"\E202"}
.regular-shopping-cart:before{content:"\E203"}
.regular-lock:before{content:"\E204"}
.regular-unlock:before{content:"\E205"}
.regular-electricity:before{content:"\E206"}
.regular-ok:before{content:"\E207"}
.regular-remove:before{content:"\E208"}
.regular-cart-in:before{content:"\E209"}
.regular-cart-out:before{content:"\E210"}
.regular-arrow-left:before{content:"\E211"}
.regular-arrow-right:before{content:"\E212"}
.regular-arrow-down:before{content:"\E213"}
.regular-arrow-up:before{content:"\E214"}
.regular-resize-small:before{content:"\E215"}
.regular-resize-full:before{content:"\E216"}
.regular-circle-arrow-left:before{content:"\E217"}
.regular-circle-arrow-right:before{content:"\E218"}
.regular-circle-arrow-top:before{content:"\E219"}
.regular-circle-arrow-down:before{content:"\E220"}
.regular-play-button:before{content:"\E221"}
.regular-unshare:before{content:"\E222"}
.regular-share:before{content:"\E223"}
.regular-chevron-right:before{content:"\E224"}
.regular-chevron-left:before{content:"\E225"}
.regular-bluetooth:before{content:"\E226"}
.regular-euro:before{content:"\E227"}
.regular-usd:before{content:"\E228"}
.regular-gbp:before{content:"\E229"}
.regular-retweet-2:before{content:"\E230"}
.regular-moon:before{content:"\E231"}
.regular-sun:before{content:"\E232"}
.regular-cloud:before{content:"\E233"}
.regular-direction:before{content:"\E234"}
.regular-brush:before{content:"\E235"}
.regular-pen:before{content:"\E236"}
.regular-zoom-in:before{content:"\E237"}
.regular-zoom-out:before{content:"\E238"}
.regular-pin:before{content:"\E239"}
.regular-albums:before{content:"\E240"}
.regular-rotation-lock:before{content:"\E241"}
.regular-flash:before{content:"\E242"}
.regular-map-marker:before{content:"\E243"}
.regular-anchor:before{content:"\E244"}
.regular-conversation:before{content:"\E245"}
.regular-chat:before{content:"\E246"}
.regular-note-empty:before{content:"\E247"}
.regular-note:before{content:"\E248"}
.regular-asterisk:before{content:"\E249"}
.regular-divide:before{content:"\E250"}
.regular-snorkel-diving:before{content:"\E251"}
.regular-scuba-diving:before{content:"\E252"}
.regular-oxygen-bottle:before{content:"\E253"}
.regular-fins:before{content:"\E254"}
.regular-fishes:before{content:"\E255"}
.regular-boat:before{content:"\E256"}
.regular-delete:before{content:"\E257"}
.regular-sheriffs-star:before{content:"\E258"}
.regular-qrcode:before{content:"\E259"}
.regular-barcode:before{content:"\E260"}
.regular-pool:before{content:"\E261"}
.regular-buoy:before{content:"\E262"}
.regular-spade:before{content:"\E263"}
.regular-bank:before{content:"\E264"}
.regular-vcard:before{content:"\E265"}
.regular-electrical-plug:before{content:"\E266"}
.regular-flag:before{content:"\E267"}
.regular-credit-card:before{content:"\E268"}
.regular-keyboard-wireless:before{content:"\E269"}
.regular-keyboard-wireless:before{content:"\E270"}
.regular-shield:before{content:"\E271"}
.regular-ring:before{content:"\E272"}
.regular-cake:before{content:"\E273"}
.regular-drink:before{content:"\E274"}
.regular-beer:before{content:"\E275"}
.regular-fast-food:before{content:"\E276"}
.regular-cutlery:before{content:"\E277"}
.regular-pizza:before{content:"\E278"}
.regular-birthday-cake:before{content:"\E279"}
.regular-tablet:before{content:"\E280"}
.regular-settings:before{content:"\E281"}
.regular-bullets:before{content:"\E282"}
.regular-cardio:before{content:"\E283"}
.regular-t-shirt:before{content:"\E284"}
.regular-pants:before{content:"\E285"}
.regular-sweater:before{content:"\E286"}
.regular-fabric:before{content:"\E287"}
.regular-leather:before{content:"\E288"}
.regular-scissors:before{content:"\E289"}
.regular-bomb:before{content:"\E290"}
.regular-skull:before{content:"\E291"}
.regular-celebration:before{content:"\E292"}
.regular-tea-kettle:before{content:"\E293"}
.regular-french-press:before{content:"\E294"}
.regular-coffee-cup:before{content:"\E295"}
.regular-pot:before{content:"\E296"}
.regular-grater:before{content:"\E297"}
.regular-kettle:before{content:"\E298"}
.regular-hospital:before{content:"\E299"}
.regular-hospital-h:before{content:"\E300"}
.regular-microphone:before{content:"\E301"}
.regular-webcam:before{content:"\E302"}
.regular-temple-christianity-church:before{content:"\E303"}
.regular-temple-islam:before{content:"\E304"}
.regular-temple-hindu:before{content:"\E305"}
.regular-temple-buddhist:before{content:"\E306"}
.regular-bicycle:before{content:"\E307"}
.regular-life-preserver:before{content:"\E308"}
.regular-share-alt:before{content:"\E309"}
.regular-comments:before{content:"\E310"}
.regular-flower:before{content:"\E311"}
.regular-baseball:before{content:"\E312"}
.regular-rugby:before{content:"\E313"}
.regular-ax:before{content:"\E314"}
.regular-table-tennis:before{content:"\E315"}
.regular-bowling:before{content:"\E316"}
.regular-tree-conifer:before{content:"\E317"}
.regular-tree-deciduous:before{content:"\E318"}
.regular-more-items:before{content:"\E319"}
.regular-sort:before{content:"\E320"}
.regular-filter:before{content:"\E321"}
.regular-gamepad:before{content:"\E322"}
.regular-playing-dices:before{content:"\E323"}
.regular-calculator:before{content:"\E324"}
.regular-tie:before{content:"\E325"}
.regular-wallet:before{content:"\E326"}
.regular-piano:before{content:"\E327"}
.regular-sampler:before{content:"\E328"}
.regular-podium:before{content:"\E329"}
.regular-soccer-ball:before{content:"\E330"}
.regular-blog:before{content:"\E331"}
.regular-dashboard:before{content:"\E332"}
.regular-certificate:before{content:"\E333"}
.regular-bell:before{content:"\E334"}
.regular-candle:before{content:"\E335"}
.regular-pushpin:before{content:"\E336"}
.regular-iphone-shake:before{content:"\E337"}
.regular-pin-flag:before{content:"\E338"}
.regular-turtle:before{content:"\E339"}
.regular-rabbit:before{content:"\E340"}
.regular-globe:before{content:"\E341"}
.regular-briefcase:before{content:"\E342"}
.regular-hdd:before{content:"\E343"}
.regular-thumbs-up:before{content:"\E344"}
.regular-thumbs-down:before{content:"\E345"}
.regular-hand-right:before{content:"\E346"}
.regular-hand-left:before{content:"\E347"}
.regular-hand-up:before{content:"\E348"}
.regular-hand-down:before{content:"\E349"}
.regular-fullscreen:before{content:"\E350"}
.regular-shopping-bag:before{content:"\E351"}
.regular-book-open:before{content:"\E352"}
.regular-nameplate:before{content:"\E353"}
.regular-nameplate-alt:before{content:"\E354"}
.regular-vases:before{content:"\E355"}
.regular-bullhorn:before{content:"\E356"}
.regular-dumbbell:before{content:"\E357"}
.regular-suitcase:before{content:"\E358"}
.regular-file-import:before{content:"\E359"}
.regular-file-export:before{content:"\E360"}
.regular-bug:before{content:"\E361"}
.regular-crown:before{content:"\E362"}
.regular-smoking:before{content:"\E363"}
.regular-cloud-upload:before{content:"\E364"}
.regular-cloud-download:before{content:"\E365"}
.regular-restart:before{content:"\E366"}
.regular-security-camera:before{content:"\E367"}
.regular-expand:before{content:"\E368"}
.regular-collapse:before{content:"\E369"}
.regular-collapse-top:before{content:"\E370"}
.regular-globe-af:before{content:"\E371"}
.regular-global:before{content:"\E372"}
.regular-spray:before{content:"\E373"}
.regular-nails:before{content:"\E374"}
.regular-claw-hammer:before{content:"\E375"}
.regular-classic-hammer:before{content:"\E376"}
.regular-hand-saw:before{content:"\E377"}
.regular-riflescope:before{content:"\E378"}
.regular-electrical-socket-eu:before{content:"\E379"}
.regular-electrical-socket-us:before{content:"\E380"}
.regular-message-forward:before{content:"\E381"}
.regular-coat-hanger:before{content:"\E382"}
.regular-dress:before{content:"\E383"}
.regular-bathrobe:before{content:"\E384"}
.regular-shirt:before{content:"\E385"}
.regular-underwear:before{content:"\E386"}
.regular-log-in:before{content:"\E387"}
.regular-log-out:before{content:"\E388"}
.regular-exit:before{content:"\E389"}
.regular-new-window-alt:before{content:"\E390"}
.regular-video-sd:before{content:"\E391"}
.regular-video-hd:before{content:"\E392"}
.regular-subtitles:before{content:"\E393"}
.regular-sound-stereo:before{content:"\E394"}
.regular-sound-dolby:before{content:"\E395"}
.regular-sound-5-1:before{content:"\E396"}
.regular-sound-6-1:before{content:"\E397"}
.regular-sound-7-1:before{content:"\E398"}
.regular-copyright-mark:before{content:"\E399"}
.regular-registration-mark:before{content:"\E400"}
.regular-radar:before{content:"\E401"}
.regular-skateboard:before{content:"\E402"}
.regular-golf-course:before{content:"\E403"}
.regular-sorting:before{content:"\E404"}
.regular-sort-by-alphabet:before{content:"\E405"}
.regular-sort-by-alphabet-alt:before{content:"\E406"}
.regular-sort-by-order:before{content:"\E407"}
.regular-sort-by-order-alt:before{content:"\E408"}
.regular-sort-by-attributes:before{content:"\E409"}
.regular-sort-by-attributes-alt:before{content:"\E410"}
.regular-compressed:before{content:"\E411"}
.regular-package:before{content:"\E412"}
.regular-cloud-plus:before{content:"\E413"}
.regular-cloud-minus:before{content:"\E414"}
.regular-disk-save:before{content:"\E415"}
.regular-disk-open:before{content:"\E416"}
.regular-disk-saved:before{content:"\E417"}
.regular-disk-remove:before{content:"\E418"}
.regular-disk-import:before{content:"\E419"}
.regular-disk-export:before{content:"\E420"}
.regular-tower:before{content:"\E421"}
.regular-send:before{content:"\E422"}
.regular-git-branch:before{content:"\E423"}
.regular-git-create:before{content:"\E424"}
.regular-git-private:before{content:"\E425"}
.regular-git-delete:before{content:"\E426"}
.regular-git-merge:before{content:"\E427"}
.regular-git-pull-request:before{content:"\E428"}
.regular-git-compare:before{content:"\E429"}
.regular-git-commit:before{content:"\E430"}
.regular-construction-cone:before{content:"\E431"}
.regular-shoe-steps:before{content:"\E432"}
.regular-plus:before{content:"\E433"}
.regular-minus:before{content:"\E434"}
.regular-redo:before{content:"\E435"}
.regular-undo:before{content:"\E436"}
.regular-golf:before{content:"\E437"}
.regular-hockey:before{content:"\E438"}
.regular-pipe:before{content:"\E439"}
.regular-wrench:before{content:"\E440"}
.regular-folder-closed:before{content:"\E441"}
.regular-phone-alt:before{content:"\E442"}
.regular-earphone:before{content:"\E443"}
.regular-floppy-disk:before{content:"\E444"}
.regular-floppy-saved:before{content:"\E445"}
.regular-floppy-remove:before{content:"\E446"}
.regular-floppy-save:before{content:"\E447"}
.regular-floppy-open:before{content:"\E448"}
.regular-translate:before{content:"\E449"}
.regular-fax:before{content:"\E450"}
.regular-factory:before{content:"\E451"}
.regular-shop-window:before{content:"\E452"}
.regular-shop:before{content:"\E453"}
.regular-kiosk:before{content:"\E454"}
.regular-kiosk-wheels:before{content:"\E455"}
.regular-kiosk-light:before{content:"\E456"}
.regular-kiosk-food:before{content:"\E457"}
.regular-transfer:before{content:"\E458"}
.regular-money:before{content:"\E459"}
.regular-header:before{content:"\E460"}
.regular-blacksmith:before{content:"\E461"}
.regular-saw-blade:before{content:"\E462"}
.regular-basketball:before{content:"\E463"}
.regular-server:before{content:"\E464"}
.regular-server-plus:before{content:"\E465"}
.regular-server-minus:before{content:"\E466"}
.regular-server-ban:before{content:"\E467"}
.regular-server-flag:before{content:"\E468"}
.regular-server-lock:before{content:"\E469"}
.regular-server-new:before{content:"\E470"}
.regular-charging-station:before{content:"\E471"}
.regular-gas-station:before{content:"\E472"}
.regular-target:before{content:"\E473"}
.regular-bed:before{content:"\E474"}
.regular-mosquito:before{content:"\E475"}
.regular-dining-set:before{content:"\E476"}
.regular-plate-of-food:before{content:"\E477"}
.regular-hygiene-kit:before{content:"\E478"}
.regular-blackboard:before{content:"\E479"}
.regular-marriage:before{content:"\E480"}
.regular-bucket:before{content:"\E481"}
.regular-none-color-swatch:before{content:"\E482"}
.regular-bring-forward:before{content:"\E483"}
.regular-bring-to-front:before{content:"\E484"}
.regular-send-backward:before{content:"\E485"}
.regular-send-to-back:before{content:"\E486"}
.regular-fit-frame-to-image:before{content:"\E487"}
.regular-fit-image-to-frame:before{content:"\E488"}
.regular-multiple-displays:before{content:"\E489"}
.regular-handshake:before{content:"\E490"}
.regular-child:before{content:"\E491"}
.regular-baby-formula:before{content:"\E492"}
.regular-medicine:before{content:"\E493"}
.regular-atv-vehicle:before{content:"\E494"}
.regular-motorcycle:before{content:"\E495"}
.regular-bed-alt:before{content:"\E496"}
.regular-tent:before{content:"\E497"}
.regular-glasses:before{content:"\E498"}
.regular-sunglasses:before{content:"\E499"}
.regular-family:before{content:"\E500"}
.regular-education:before{content:"\E501"}
.regular-shoes:before{content:"\E502"}
.regular-map:before{content:"\E503"}
.regular-cd:before{content:"\E504"}
.regular-alert:before{content:"\E505"}
.regular-piggy-bank:before{content:"\E506"}
.regular-star-half:before{content:"\E507"}
.regular-cluster:before{content:"\E508"}
.regular-flowchart:before{content:"\E509"}
.regular-commodities:before{content:"\E510"}
.regular-duplicate:before{content:"\E511"}
.regular-copy:before{content:"\E512"}
.regular-paste:before{content:"\E513"}
.regular-bath-bathtub:before{content:"\E514"}
.regular-bath-shower:before{content:"\E515"}
.regular-shower:before{content:"\E516"}
.regular-menu-hamburger:before{content:"\E517"}
.regular-option-vertical:before{content:"\E518"}
.regular-option-horizontal:before{content:"\E519"}
.regular-currency-conversion:before{content:"\E520"}
.regular-user-ban:before{content:"\E521"}
.regular-user-lock:before{content:"\E522"}
.regular-user-flag:before{content:"\E523"}
.regular-user-asterisk:before{content:"\E524"}
.regular-user-alert:before{content:"\E525"}
.regular-user-key:before{content:"\E526"}
.regular-user-conversation:before{content:"\E527"}
.regular-database:before{content:"\E528"}
.regular-database-search:before{content:"\E529"}
.regular-list-alt:before{content:"\E530"}
.regular-hazard-sign:before{content:"\E531"}
.regular-hazard:before{content:"\E532"}
.regular-stop-sign:before{content:"\E533"}
.regular-lab:before{content:"\E534"}
.regular-lab-alt:before{content:"\E535"}
.regular-ice-cream:before{content:"\E536"}
.regular-ice-lolly:before{content:"\E537"}
.regular-ice-lolly-tasted:before{content:"\E538"}
.regular-invoice:before{content:"\E539"}
.regular-cart-tick:before{content:"\E540"}
.regular-hourglass:before{content:"\E541"}
.regular-cat:before{content:"\E542"}
.regular-lamp:before{content:"\E543"}
.regular-scale-classic:before{content:"\E544"}
.regular-eye-plus:before{content:"\E545"}
.regular-eye-minus:before{content:"\E546"}
.regular-quote:before{content:"\E547"}
.regular-bitcoin:before{content:"\E548"}
.regular-yen:before{content:"\E549"}
.regular-ruble:before{content:"\E550"}
.regular-erase:before{content:"\E551"}
.regular-podcast:before{content:"\E552"}
.regular-firework:before{content:"\E553"}
.regular-scale:before{content:"\E554"}
.regular-king:before{content:"\E555"}
.regular-queen:before{content:"\E556"}
.regular-pawn:before{content:"\E557"}
.regular-bishop:before{content:"\E558"}
.regular-knight:before{content:"\E559"}
.regular-mic-mute:before{content:"\E560"}
.regular-voicemail:before{content:"\E561"}
.regular-paragraph-alt:before{content:"\E562"}
.regular-person-walking:before{content:"\E563"}
.regular-person-wheelchair:before{content:"\E564"}
.regular-underground:before{content:"\E565"}
.regular-car-hov:before{content:"\E566"}
.regular-car-rental:before{content:"\E567"}
.regular-transport:before{content:"\E568"}
.regular-taxi:before{content:"\E569"}
.regular-ice-cream-no:before{content:"\E570"}
.regular-uk-rat-u:before{content:"\E571"}
.regular-uk-rat-pg:before{content:"\E572"}
.regular-uk-rat-12a:before{content:"\E573"}
.regular-uk-rat-12:before{content:"\E574"}
.regular-uk-rat-15:before{content:"\E575"}
.regular-uk-rat-18:before{content:"\E576"}
.regular-uk-rat-r18:before{content:"\E577"}
.regular-tv:before{content:"\E578"}
.regular-sms:before{content:"\E579"}
.regular-mms:before{content:"\E580"}
.regular-us-rat-g:before{content:"\E581"}
.regular-us-rat-pg:before{content:"\E582"}
.regular-us-rat-pg-13:before{content:"\E583"}
.regular-us-rat-restricted:before{content:"\E584"}
.regular-us-rat-no-one-17:before{content:"\E585"}
.regular-equalizer:before{content:"\E586"}
.regular-speakers:before{content:"\E587"}
.regular-remote-control:before{content:"\E588"}
.regular-remote-control-tv:before{content:"\E589"}
.regular-shredder:before{content:"\E590"}
.regular-folder-heart:before{content:"\E591"}
.regular-person-running:before{content:"\E592"}
.regular-person:before{content:"\E593"}
.regular-voice:before{content:"\E594"}
.regular-stethoscope:before{content:"\E595"}
.regular-paired:before{content:"\E596"}
.regular-activity:before{content:"\E597"}
.regular-watch:before{content:"\E598"}
.regular-scissors-alt:before{content:"\E599"}
.regular-car-wheel:before{content:"\E600"}
.regular-chevron-up:before{content:"\E601"}
.regular-chevron-down:before{content:"\E602"}
.regular-superscript:before{content:"\E603"}
.regular-subscript:before{content:"\E604"}
.regular-text-size:before{content:"\E605"}
.regular-text-color:before{content:"\E606"}
.regular-text-background:before{content:"\E607"}
.regular-modal-window:before{content:"\E608"}
.regular-newspaper:before{content:"\E609"}
.regular-tractor:before{content:"\E610"}
.regular-camping:before{content:"\E611"}
.regular-camping-benches:before{content:"\E612"}
.regular-forest:before{content:"\E613"}
.regular-park:before{content:"\E614"}
.regular-field:before{content:"\E615"}
.regular-mountains:before{content:"\E616"}
.regular-fees-payments:before{content:"\E617"}
.regular-small-payments:before{content:"\E618"}
.regular-mixed-buildings:before{content:"\E619"}
.regular-industrial-zone:before{content:"\E620"}
.regular-visitor-tag:before{content:"\E621"}
.regular-businessman:before{content:"\E622"}
.regular-meditation:before{content:"\E623"}
.regular-bath:before{content:"\E624"}
.regular-donate:before{content:"\E625"}
.regular-sauna:before{content:"\E626"}
.regular-bedroom-nightstand:before{content:"\E627"}
.regular-bedroom-lamp:before{content:"\E628"}
.regular-doctor:before{content:"\E629"}
.regular-engineering-networks:before{content:"\E630"}
.regular-washing-machine:before{content:"\E631"}
.regular-dryer:before{content:"\E632"}
.regular-dishwasher:before{content:"\E633"}
.regular-luggage-group:before{content:"\E634"}
.regular-teenager:before{content:"\E635"}
.regular-person-stick:before{content:"\E636"}
.regular-person-stick-old:before{content:"\E637"}
.regular-traveler:before{content:"\E638"}
.regular-veteran:before{content:"\E639"}
.regular-group-chat:before{content:"\E640"}
.regular-elections:before{content:"\E641"}
.regular-law-justice:before{content:"\E642"}
.regular-judiciary:before{content:"\E643"}
.regular-house-fire:before{content:"\E644"}
.regular-firefighters:before{content:"\E645"}
.regular-police:before{content:"\E646"}
.regular-ambulance:before{content:"\E647"}
.regular-light-beacon:before{content:"\E648"}
.regular-important-day:before{content:"\E649"}
.regular-bike-park:before{content:"\E650"}
.regular-object-align-top:before{content:"\E651"}
.regular-object-align-bottom:before{content:"\E652"}
.regular-object-align-horizontal:before{content:"\E653"}
.regular-object-align-left:before{content:"\E654"}
.regular-object-align-vertical:before{content:"\E655"}
.regular-object-align-right:before{content:"\E656"}
.regular-reflect-y:before{content:"\E657"}
.regular-reflect-x:before{content:"\E658"}
.regular-tick:before{content:"\E659"}
.regular-lawnmower:before{content:"\E660"}
.regular-call-redirect:before{content:"\E661"}
.regular-call-ip:before{content:"\E662"}
.regular-call-record:before{content:"\E663"}
.regular-call-ringtone:before{content:"\E664"}
.regular-call-traffic:before{content:"\E665"}
.regular-call-hold:before{content:"\E666"}
.regular-call-incoming:before{content:"\E667"}
.regular-call-outgoing:before{content:"\E668"}
.regular-call-video:before{content:"\E669"}
.regular-call-missed:before{content:"\E670"}
.regular-theater:before{content:"\E671"}
.regular-heartbeat:before{content:"\E672"}
.regular-kettlebell:before{content:"\E673"}
.regular-fireplace:before{content:"\E674"}
.regular-street-lights:before{content:"\E675"}
.regular-pedestrian:before{content:"\E676"}
.regular-flood:before{content:"\E677"}
.regular-open-water:before{content:"\E678"}
.regular-for-sale:before{content:"\E679"}
.regular-dustbin:before{content:"\E680"}
.regular-door:before{content:"\E681"}
.regular-camp-fire:before{content:"\E682"}
.regular-fleur-de-lis:before{content:"\E683"}
.regular-temperature-settings:before{content:"\E684"}
.regular-article:before{content:"\E685"}
.regular-sunbath:before{content:"\E686"}
.regular-balanced-diet:before{content:"\E687"}
.regular-ticket:before{content:"\E688"}
.regular-parking-ticket:before{content:"\E689"}
.regular-parking-meter:before{content:"\E690"}
.regular-laptop:before{content:"\E691"}
.regular-tree-structure:before{content:"\E692"}
.regular-weather-warning:before{content:"\E693"}
.regular-temperature-low:before{content:"\E694"}
.regular-temperature-high:before{content:"\E695"}
.regular-temperature-low-warning:before{content:"\E696"}
.regular-temperature-high-warning:before{content:"\E697"}
.regular-hurricane:before{content:"\E698"}
.regular-storm:before{content:"\E699"}
.regular-sorted-waste:before{content:"\E700"}
.regular-ear:before{content:"\E701"}
.regular-ear-deaf:before{content:"\E702"}
.regular-file-plus:before{content:"\E703"}
.regular-file-minus:before{content:"\E704"}
.regular-file-lock:before{content:"\E705"}
.regular-file-cloud:before{content:"\E706"}
.regular-file-cloud-download:before{content:"\E707"}
.regular-file-cloud-upload:before{content:"\E708"}
.regular-paragraph:before{content:"\E709"}
.regular-list-numbered:before{content:"\E710"}
.regular-donate-heart:before{content:"\E711"}
.regular-government:before{content:"\E712"}
.regular-maze:before{content:"\E713"}
.regular-chronicle:before{content:"\E714"}
.regular-user-structure:before{content:"\E715"}
.regular-recycle:before{content:"\E716"}
.regular-gas:before{content:"\E717"}
.regular-waste-pipe:before{content:"\E718"}
.regular-water-pipe:before{content:"\E719"}
.regular-parking:before{content:"\E720"}
.regular-closed:before{content:"\E721"}
.regular-mouse:before{content:"\E722"}
.regular-mouse-double-click:before{content:"\E723"}
.regular-mouse-left-click:before{content:"\E724"}
.regular-mouse-right-click:before{content:"\E725"}
.regular-mouse-middle-click:before{content:"\E726"}
.regular-mouse-scroll:before{content:"\E727"}
.regular-resize-vertical:before{content:"\E728"}
.regular-resize-horizontal:before{content:"\E729"}
.regular-temperature:before{content:"\E730"}
.regular-puzzle:before{content:"\E731"}
.regular-puzzle-2:before{content:"\E732"}
.regular-puzzle-3:before{content:"\E733"}
.regular-nearby-square:before{content:"\E734"}
.regular-nearby-circle:before{content:"\E735"}
.regular-rotate-right:before{content:"\E736"}
.regular-rotate-left:before{content:"\E737"}
.regular-pictures:before{content:"\E738"}
.regular-photo-album:before{content:"\E739"}
.regular-cadastral-map:before{content:"\E740"}
.regular-fingerprint-scan:before{content:"\E741"}
.regular-fingerprint:before{content:"\E742"}
.regular-fingerprint-lock:before{content:"\E743"}
.regular-fingerprint-ok:before{content:"\E744"}
.regular-fingerprint-remove:before{content:"\E745"}
.regular-fingerprint-reload:before{content:"\E746"}
.regular-pending-notifications:before{content:"\E747"}
.regular-synchronization:before{content:"\E748"}
.regular-synchronization-ban:before{content:"\E749"}
.regular-hash:before{content:"\E750"}
.regular-gender-male:before{content:"\E751"}
.regular-gender-female:before{content:"\E752"}
.regular-gender-virgin-female:before{content:"\E753"}
.regular-gender-intersex:before{content:"\E754"}
.regular-gender-transgender:before{content:"\E755"}
.regular-gender-ori-lesbian:before{content:"\E756"}
.regular-gender-ori-gay:before{content:"\E757"}
.regular-gender-ori-hetero:before{content:"\E758"}
.regular-gender-other:before{content:"\E759"}
.regular-gender-unknown:before{content:"\E760"}
.regular-scanner:before{content:"\E761"}
.regular-multifunction-printer:before{content:"\E762"}
.regular-lasso:before{content:"\E763"}
.regular-view-360:before{content:"\E764"}
.regular-battery-charging:before{content:"\E765"}
.regular-battery-full:before{content:"\E766"}
.regular-battery-75:before{content:"\E767"}
.regular-battery-50:before{content:"\E768"}
.regular-battery-25:before{content:"\E769"}
.regular-battery-10:before{content:"\E770"}
.regular-satellite:before{content:"\E771"}
.regular-satellite-dish:before{content:"\E772"}
.regular-satellite-dish-alt:before{content:"\E773"}
.regular-auction:before{content:"\E774"}
.regular-directions:before{content:"\E775"}
.regular-race:before{content:"\E776"}
.regular-robot:before{content:"\E777"}
.regular-ruler-alt:before{content:"\E778"}
.regular-cube-empty:before{content:"\E779"}
.regular-cube-black:before{content:"\E780"}
.regular-move-square:before{content:"\E781"}
.regular-drop:before{content:"\E782"}
.regular-vr-headset:before{content:"\E783"}
.regular-vr-charging:before{content:"\E784"}
.regular-vr-low-battery:before{content:"\E785"}
.regular-vr-paired:before{content:"\E786"}
.regular-vr-settings:before{content:"\E787"}
.regular-vr-maintenance:before{content:"\E788"}
.regular-filter-remove:before{content:"\E789"}
.regular-filter-applied:before{content:"\E790"}
.regular-one-day:before{content:"\E791"}
.regular-user-vr:before{content:"\E792"}
.regular-user-vr-add:before{content:"\E793"}
.regular-user-vr-remove:before{content:"\E794"}
.regular-dice-1:before{content:"\E795"}
.regular-dice-2:before{content:"\E796"}
.regular-dice-3:before{content:"\E797"}
.regular-dice-4:before{content:"\E798"}
.regular-dice-5:before{content:"\E799"}
.regular-dice-6:before{content:"\E800"}
